Repository operate-first/common: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

.prow.yaml:

presubmits:
  - name: pre-commit
    decorate: true
    skip_report: false
    always_run: true
    context: aicoe-ci/prow/pre-commit
    spec:
      containers:
        - image: quay.io/thoth-station/thoth-precommit-py38:v0.12.9
          command:
            - "pre-commit"
            - "run"
            - "--all-files"
  - name: peribolos
    decorate: true
    run_if_changed: github-config.yaml
    skip_report: false
    context: community-management/prow/peribolos
    spec:
      containers:
        - image: gcr.io/k8s-prow/peribolos:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /peribolos --config-path github-config.yaml --github-token-path /etc/github/oauth \
                --min-admins=2 \
                --maximum-removal-delta=0.15 \
                --require-self=true \
                --fix-org \
                --fix-org-members \
                --fix-repos \
                --fix-teams \
                --fix-team-members \
                --fix-team-repos \
                --allow-repo-archival \
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token
  - name: labels
    decorate: true
    run_if_changed: labels.yaml
    skip_report: false
    context: community-management/prow/labels
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /app/label_sync/app.binary \
              --config=labels.yaml \
              --orgs=operate-first \
              --token=/etc/github/oauth
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token

postsubmits:
  - name: operate-first-peribolos
    decorate: true
    run_if_changed: ^github-config\.yaml$
    skip_report: false
    context: community-management/prow/peribolos
    branches:
      - ^main$
    spec:
      containers:
        - image: gcr.io/k8s-prow/peribolos:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /peribolos --config-path github-config.yaml --github-token-path /etc/github/oauth \
                --min-admins=2 \
                --maximum-removal-delta=0.15 \
                --require-self=true \
                --fix-org \
                --fix-org-members \
                --fix-repos \
                --fix-teams \
                --fix-team-members \
                --fix-team-repos \
                --allow-repo-archival \
                --confirm
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token
  - name: operate-first-labels
    decorate: true
    run_if_changed: ^(github-config|labels)\.yaml$
    skip_report: false
    context: community-management/prow/labels
    branches:
      - ^main$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /app/label_sync/app.binary \
              --config=labels.yaml \
              --orgs=operate-first \
              --token=/etc/github/oauth \
              --confirm
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token

creating the repo for IONOS OpenShift
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

updating labels with a label for each cluster
  labels.yaml
Due: community-management/prow/labels

updating labels with a label for each cluster (#81)
  labels.yaml
Due: community-management/prow/labels

fybrik working group owners
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

fybrik working group owners (#82)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add operate-first-in-action repo
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add sig-sre contributors
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add sig-sre contributors (#84)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add operate-first-in-action repo (#83)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

update docs to add team to new repo
  docs/add_repo.md
Due: none

add admin team for opf in action repo
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add admin team for opf in action repo (#85)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

update docs to add team to new repo (#86)
  docs/add_repo.md
Due: none

Add R-Lawton
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add R-Lawton (#87)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add MichaelTiemannOSC to members
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add MichaelTiemannOSC to members (#88)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Adding labels for each persona
  labels.yaml
Due: community-management/prow/labels

Adding labels in support of user personas (#89)
  labels.yaml
Due: community-management/prow/labels

Adding SRE-U repo
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Typos come from typists, not pasters
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Cruft entries from changes during review (#94)
  labels.yaml
Due: community-management/prow/labels

Add sre-u repo and member.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add user to seru team.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add user to seru team. (#97)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add sreu member to org.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Adding requested members, fixing alpha sort - Thanks for the request @oindrillac - https://github.com/operate-first/common/pull/95#pullrequestreview-946010406
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add user story and storage label.
  labels.yaml
Due: community-management/prow/labels

Creating a new `blog` repo and related teams (#95)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

adding greg and dylan to custodians group
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add labels for tasks and cluster upgrades.
  labels.yaml
Due: community-management/prow/labels

Add new members to org.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add mpeters as member of operate-first group
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add team apicurio to operate-first org
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

move_operate-first.github.io-to-old
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

move website-ng to operate-first.github.io
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

remove previously section
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add dastergon to the org
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add dastergon to the org (#109)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add shreekarSS to operate-first community
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels
