Repository operate-first/common: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

community-management/prow/peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

community-management/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /app/label_sync/app.binary \
  
        --config=labels.yaml \
  
        --orgs=operate-first \
  
        --token=/etc/github/oauth \
  
        --confirm
  
        '
  ...

Update inception_deployment.md
  docs/inception_deployment.md
Due: none

Add ryanaslett to members,create osc-admins team
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add ryanaslett to members,create osc-admins team (#157)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update github-config.yaml
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update github-config.yaml (#158)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update github-config.yaml (#160)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update github-config.yaml (#159)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add sostrades-radouanbouadel
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add sostrades team
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add OS-Climate sostrades team users as members of the org
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add OS-Climate sostrades team users as members of the org (#162)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

archive curator as req per issue
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

archive curator as req per issue (#164)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add sig/sre label
  labels.md
  labels.yaml
Due: community-management/prow/labels

updated pre-commit plugins
  .pre-commit-config.yaml
Due: none

Adding 'quaid' as org owner/admin
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

chore: remove curator-operator mention
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update .prow.yaml
  .prow.yaml
Due: none

Update .prow.yaml (#168)
  .prow.yaml
Due: none

Update README.md
  README.md
Due: none

Delete .aicoe-ci.yaml
  .aicoe-ci.yaml
Due: none

feat(labels): add labels for nostromo and phobos
  labels.yaml
Due: community-management/prow/labels

ci(prow): update pre-commit job config
  .prow.yaml
Due: none

feat(labels): add labels for nostromo and phobos (#169)
  .prow.yaml
  labels.yaml
Due: community-management/prow/labels

Path conditions:
  community-management/prow/peribolos: (any of: github-config.yaml) or (any of: ^github-config\.yaml$)
  community-management/prow/labels: (any of: labels.yaml) or (any of: ^(github-config|labels)\.yaml$)
