Repository operate-first/common: changes, and which Prow jobs are due for each by the changed paths.
All: community-management/prow/peribolos, community-management/prow/labels

.prow.yaml:

presubmits:
  - name: pre-commit
    decorate: true
    skip_report: false
    always_run: true
    context: aicoe-ci/prow/pre-commit
    spec:
      containers:
        - image: quay.io/thoth-station/thoth-precommit-py38:v0.12.9
          command:
            - "pre-commit"
            - "run"
            - "--all-files"
  - name: peribolos
    decorate: true
    run_if_changed: github-config.yaml
    skip_report: false
    context: community-management/prow/peribolos
    spec:
      containers:
        - image: gcr.io/k8s-prow/peribolos:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /peribolos --config-path github-config.yaml --github-token-path /etc/github/oauth \
                --min-admins=2 \
                --maximum-removal-delta=0.15 \
                --require-self=true \
                --fix-org \
                --fix-org-members \
                --fix-repos \
                --fix-teams \
                --fix-team-members \
                --fix-team-repos \
                --allow-repo-archival \
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token
  - name: labels
    decorate: true
    run_if_changed: labels.yaml
    skip_report: false
    context: community-management/prow/labels
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /app/label_sync/app.binary \
              --config=labels.yaml \
              --orgs=operate-first \
              --token=/etc/github/oauth
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token

postsubmits:
  - name: operate-first-peribolos
    decorate: true
    run_if_changed: ^github-config\.yaml$
    skip_report: false
    context: community-management/prow/peribolos
    branches:
      - ^main$
    spec:
      containers:
        - image: gcr.io/k8s-prow/peribolos:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /peribolos --config-path github-config.yaml --github-token-path /etc/github/oauth \
                --min-admins=2 \
                --maximum-removal-delta=0.15 \
                --require-self=true \
                --fix-org \
                --fix-org-members \
                --fix-repos \
                --fix-teams \
                --fix-team-members \
                --fix-team-repos \
                --allow-repo-archival \
                --confirm
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token
  - name: operate-first-labels
    decorate: true
    run_if_changed: ^(github-config|labels)\.yaml$
    skip_report: false
    context: community-management/prow/labels
    branches:
      - ^main$
    spec:
      containers:
        - image: gcr.io/k8s-prow/label_sync:latest
          command:
            - /bin/sh
          args:
            - -c
            - |
              set -ex
              /app/label_sync/app.binary \
              --config=labels.yaml \
              --orgs=operate-first \
              --token=/etc/github/oauth \
              --confirm
          volumeMounts:
            - name: github-oauth
              mountPath: /etc/github
      volumes:
        - name: github-oauth
          secret:
            secretName: oauth-token

Add operate-first user.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:guardsman: Team DevSecOps to look after the CI
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Labels docs patch 02 (#10)
  labels.md
  labels.md.tmpl
Due: none

feat: Add sre-apprenticeship (#14)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add Pep to the operate-first org
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add Pep to the operate-first org (#31)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

:guardsman: Team DevSecOps to look after the CI (#29)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

chore: Add 'good first issue' label
  labels.yaml
Due: community-management/prow/labels

Update repo description for support repo.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Update repo description for support repo. (#34)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added dystewart to github-config.yaml (#33)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added dystewart to github-config.yaml
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added dystewart to github-config.yaml (#35)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

chore: Add 'good first issue' label (#32)
  labels.yaml
Due: community-management/prow/labels

fix: Labels job errors on color
  labels.md
  labels.yaml
Due: community-management/prow/labels

fix: Labels job errors on color (#36)
  labels.md
  labels.yaml
Due: community-management/prow/labels

Add curator team
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

feat: Add schema store repository
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

add DanNiESh to github-config.yaml
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

feat: Add schema store repository (#40)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add odh team.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add labels for specific services, and additional areas.
  labels.yaml
Due: community-management/prow/labels

Add ocs label.
  labels.yaml
Due: community-management/prow/labels

Add ocs label. (#44)
  labels.yaml
Due: community-management/prow/labels

Add docs on managing users, teams, repos.
  docs/add_gh_member_and_access.md
  docs/add_repo.md
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Clean up unnecessary text in member docs.
  docs/add_gh_member_and_access.md
Due: none

Add more approvers.
  OWNERS
Due: none

Add two new gh members.
  docs/add_gh_member_and_access.md
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added msdisme to orgs.operate-first.members
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Add new members to org.
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Revert "Cruft entries from changes during review"
  labels.yaml
Due: community-management/prow/labels

Adding more members for using sre-apprenticeship
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Adding new members for sre-apprenticeship work (#50)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added new `training` repo
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added to member list
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added to member list (#53)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added to operate-first member list
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added to member list (#55)
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels

Added github handle to member
  github-config.yaml
Due: community-management/prow/peribolos, community-management/prow/labels
